<% include ./partials/header %>

<div class = "ui main text container segment">
    <div class="ui huge header">My Games</div>
    <table class="ui celled table">
  <thead>
    <tr><th>Title</th>
    <th>Console</th>
    <th>Condition</th>
    <th>Actions</th>
  </tr></thead>
  <tbody>
      <% userGames.forEach(function(game){ %>
        <tr>  
             <td><%= game.title %></td>
             <td><%= game.console %> </td>
             <td><%= game.condition %></td>
             <td>
                 <a  href="/items/<%= game._id %>/edit">
                     <i class="edit link icon"></i>
                 </a>
                 <form id="delete" action="/items/<%= game._id %>?_method=DELETE" method="POST">
                     <button class="iconbutton" type="submit">
                         <i class="red remove link icon" aria-hidden="true"></i>
                     </button>
                 </form>
             </td>
        </tr>
      <% }) %>
  </tbody>
</table>
</div>
<!-- <div class="ui tiny modal">
    <div class="header">Delete Game</div>
    <div class="content">
      <p>Are you sure you want to delete this game?</p>
    </div>
    <div class="actions">
      <div class="ui negative button">No</div>
      <div class="ui positive  button">Yes</div>
    </div>
  </div>
<script>
//     $('.tiny.modal').modal({
//         onVisible: function() {

//         }
//         'show')}
// ;
</script> -->

<% include ./partials/footer %>